<script type="text/ng-template" id="/home.html">
    <div>
        <h1>Coffee Grader</h1>
    </div>
    <div ng-repeat="coffee in coffees">
        {{coffee.title}} from {{coffee.vendor}}
    </div>

</script>