<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Coffee Grader</title>
</head>
<body ng-app="coffeeGrader" ng-controller="MainCtrl">
  <ui-view></ui-view>


<!-- bower:js -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<!-- endbower -->

<!-- inject:js -->
<script src="/public/javascripts/angularApp.js"></script>
<!-- endinject -->
</body>
</html>